<div id="page-wrapper">
  <h3>Notes</h3>
  <% @notes.each do |note| %>
  <div class="row">
    <hr>
    <div class="col-md-6">
      <h3><%= link_to note.title, note %> <small>[<%= link_to 'edit', edit_note_path(note) %>]</small></h3>
      <p><%= markdown note.description %></p>
    </div>
    <div class="col-md-6">
      <p><%= markdown note.code_sample %></p>
    </div>
    
  </div>
  <% end %>
  <%= will_paginate @notes, renderer: BootstrapPagination::Rails %>
</div>


 
  

