
<div id="guide">
  <h1 class="logo"><a href="#">Notes</a></h1>
  <%= render partial: 'shared/nav' %>
</div>

<div id="content">
  <div class="menubar">
    <div class="page-title">
          <%= @note.title %> 
          <small class="hidden-xs">[<%= link_to 'edit', edit_note_path(@note) %>] or [<%= link_to 'destroy', note_path(@note), method: :delete, data: {confirm: 'really?'} %>]</small>
    </div>
  </div>
  <p><%= markdown @note.description %></p>
  <pre>
    <code>
      <p><%= @note.code_sample %></p>
    </code>
  </pre>
</div>