<ul class="menu nav">
    <li><%= render partial: 'shared/flash' %></li>
    <li><%= link_to 'Dashboard', dashboard_path %></li>
    <li><%= link_to 'Notes', notes_path %></li>
    <li><%= link_to 'Gems', gem_comments_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>
  </ul>