<div id="page-wrapper">
  <h3>Gems</h3>
  <% @gem_comments.each do |gems| %>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><%= link_to gems.name, gems %> <small>[<%= link_to 'edit', edit_gem_comment_path(gems) %>]</small></h3>
      <p><%= markdown gems.description %></p>
    </div>
    <div class="col-md-6">
      <%= markdown gems.code_sample %>
    </div>
  </div>
  <% end %>
  <%= will_paginate @gem_comments, renderer: BootstrapPagination::Rails %>
</div>