<div id="page-wrapper">
  <div class="row">
    <h3><%= @gem_comment.name %>
      <small class="hidden-xs">[<%= link_to 'edit', edit_gem_comment_path(@gem_comment) %>] or [<%= link_to 'destroy', gem_comment_path(@gem_comment), method: :delete, data: {confirm: 'really?'} %>] this gem...</small>
    </h3>
    <hr>
    <div class="col-md-6">
      <p><%= markdown @gem_comment.description %></p>
    </div>
    <div class="col-md-6">
      <%= markdown @gem_comment.code_sample %>
    </div>
  </div>
</div>