<div id="page-wrapper">
  <h3>Projects</h3>
  <% @projects.each do |project| %>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><%= link_to project.name, project %> <small>[<%= link_to 'edit', edit_project_path(project) %>]</small></h3>
      <p><%= markdown project.description %></p>
    </div>
    <div class="col-md-6">
      <%= markdown project.code_sample %>
    </div>
  </div>
  <% end %>
  <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
</div>

