<div id="page-wrapper">
  <div class="row">
    <h3>Projects</h3>
    <hr>
    <% @projects.each do |project| %>
    <div class="col-md-6">
      <h3><%= link_to project.name, project %> <small>[<%= link_to 'edit', edit_project_path(project) %>]</small></h3>
      <p><%= markdown project.description %></p>
    </div>
    <div class="col-md-6">
      <pre>
        <code>
          <%= project.code_sample %>
        </code>
      </pre>
    </div>
    <% end %>
  </div>
  <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
</div>

