
<div id="guide">
  <h1 class="logo"><a href="#">Projects</a></h1>
 <%= render partial: 'shared/nav' %>
</div>

<div id="content">
  <div class="menubar">
    <div class="page-title">
          <%= @project.name %> 
          <small class="hidden-xs">[<%= link_to 'edit', edit_project_path(@project) %>] or [<%= link_to 'destroy', project_path(@project), method: :delete, data: {confirm: 'really?'} %>]</small>
    </div>
  </div>
  <p><%= markdown @project.description %></p>
  <pre>
    <code>
      <p><%= @project.code_sample %></p>
    </code>
  </pre>
</div>