<div id="page-wrapper">
  <div class="row">
    <h3><%= @project.name %>
      <small class="hidden-xs">[<%= link_to 'edit', edit_project_path(@project) %>] or [<%= link_to 'destroy', project_path(@project), method: :delete, data: {confirm: 'really?'} %>]</small>
    </h3>
    <hr>
    <div class="col-md-6">
      <p><%= markdown @project.description %></p>
    </div>
    <div class="col-md-6">
      <p><%= markdown @project.code_sample %></p>
    </div>
  </div>
</div>