<!DOCTYPE html>
<html>
<head>
  <title>Code Notes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="nav-header">
        <%= link_to 'Rails Notes', root_path, class: "navbar-brand" %>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Notes', notes_path %></li>
          <li><%= link_to 'Gems', gem_comments_path %></li>
          <li><%= link_to 'Projects', projects_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">New <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'New Note', new_note_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'New Gem', new_gem_comment_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'New Project', new_project_path %></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">

    <%= render partial: 'shared/flash' %>

    <%= yield %>

  </div>


</body>
</html>
